html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

ol,
ul {
  margin-top: 0;
}

#page-container {
  padding: 15px;
  height: 100vh;
  background: lightgray;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dynamic-information-section {
  display: flex;
  justify-content: space-between;
}

#crypto-info__container {
  font-size: 1.3rem;
}

.crypto-info__row {
  display: flex;
  align-items: center;
}

.crypto-info__image {
  margin-right: 5px;
}

.time__container {
  margin: 0 auto;
}

.static-information-section {
  /* align-self: */
}

.no-bullets {
  padding-left: 0;
  list-style: none;
}

.text--shadow {
  text-shadow: 1px 1px 4px #aaa;
}